.checkoutProduct{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 200px;
    /* height: 25%; */
    margin: 20px;
    padding: 10px;
    background: rgba(128, 128, 128, 0.1);
}

.checkoutProduct__info{
    padding: 10px;

}

.checkoutProduct__title{
    font-weight: 800;
}

.checkoutProduct__price{
    padding-top: 5px;
    padding-bottom:5px;
}

.checkoutProduct > button{
    padding: 5px;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    background-color: darkorange;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.checkoutProduct__image{
    /* border: 2px solid red; */
    height:350px;
}
