.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;

  justify-content: space-between;
  color: white;
  /* flex-wrap: wrap; */
}
.header__logo {
  width: 133px;
  object-fit: contain;
  margin-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
}
.header__search {
  display: flex;
  align-items: center;

  /* width: 600px; */
  justify-content: center;
}

.header__searchInput {
  height: 40px;
  width: 600px;
  font-size: 20px;
}

.header__searchIcon {
  background-color: darkorange;
  padding: 11px;
}

.header__nav {
  display: flex;

  justify-content: space-between;
  /* border: 2px solid red; */
}

.header__option {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 10px;
  text-align: center;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-right: 5px;
  /* border: 2px solid red; */
}

.header__basketCount {
  margin: 10px;
}

.header__optionLineOne {
  font-size: 17px;
}

.email {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 20px;
  font-weight: 600;
}
